h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
}

main{
    width: 1024px;
    margin: 0 auto;
}

#weeks-grid {
  width: 870px;
  height: auto;
  float: left;
  margin: 20px auto;
}

.week-unit {
  width: 10px;
  height: 10px;
  margin: 3px;
  border: solid #000 1px;
  float: left;
}

.row-number {
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  clear: left;
  float: left;
}

#main-box {
  width: 875px;
  height: auto;
  float: left;
  border: solid 1px #CCC;
}

.desc-box {
  width: 150px;
  height: auto;
  float: left;
  margin-top: 20px;
  background-color: #FFF;
}

.descOn {
  display: none;
}

.form-box {
  padding: 20px;
  color: #090566;
}

.event-title {
  color: #038662;
}

.descOff {
  color: #038662;
  display: none;
}

.btn {
  margin: 10px;
}

.blue {
  background-color: #0f30e2;
}
